.container{
    width: 500px;
    height: 500px;
    color: purple;
    background-color: purple;
    margin: 1rem auto;
    display: flex;
    /**horizontal eixo x, vertical eixo y*/
    flex-direction: row-reverse;
    /**horizontal eixo y, vertical eixo x*/
    flex-direction: column-reverse;
    flex-direction: row; 
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: flex-start;

    /*eixo y*/
    align-items: flex-end;
    align-items: flex-start;
    /*align-items: stretch;*/ /*alongamento de caixas*/

    flex-wrap: nowrap;
    flex-wrap: wrap;
    gap: 15px;
}
div{
    border: 1px solid purple;
}
.box-01, .box-02, .box-03, .box-04, .box-05, .box-06{
    width: 150px;
    /*height: 150px;*/
    background-color: chocolate;
    font-size: 50px;
    text-align: center;
}
/*.box-01{
    order: 1; /*modificar a ordem da caixa
    flex-grow: 4; /*aumentar a largura da caixa
    flex-shrink: 2; /*diminuir a largura da caixa
}*/

.box-02, .box-04, .box-06{
    align-self: flex-end;
}