:root{
    --black: #000;
    --gray: #808080;
    --white: #FFF;
}
.container{
    border: 2px solid #FFF;
    width: 900px;
    background-color: var(--black);
}
.nav{
    padding: 1rem;
    background-color: var(--gray);
}
.nav-link{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}
article{
    padding: 0.8rem;
    background-color: var(--black);
    color: var(--white);
}
footer{
    text-align: center;
    color: var(--white);
}